.todo-item {
    @include input-placeholder();

    input {
        width: 260px;
        padding: 10px;
        margin: 0;

        font-size: 16px;
        color: $main-text-color;

        border: 1px solid $grey;
        border-radius: 5px;
    }

    input:focus {
        outline: none;
    }

    &__edit-form + &__actions {
        line-height: 40px;

        opacity: 1;
    }

    &:not(:last-child) {
        padding-bottom: 25px;
    }

    &:hover &__actions {
        opacity: 1;
    }

    &__actions {
        float: right;

        opacity: 0;

        .fa {
            font-size: 20px;
            line-height: 25px;

            cursor: pointer;
        }

        .fa:first-child {
            margin-right: 10px;
        }
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    &__edit-form {
        display: inline-block;
        width: 260px;
    }

    &__task {
        position: relative;

        padding-left: 35px;
        display: inline-block;
        width: 260px;

        line-height: 25px;

        cursor: pointer;

        &::before {
            position: absolute;
            left: 0px;

            color: $lightgrey;
            font-family: "FontAwesome";
            font-size: 25px;
            line-height: 25px;
            text-decoration: none;

            content: "\f10c";
        }

        &--done {
            color: $grey;
            text-decoration: line-through;
        }

        &--done::before {
            color: $green;

            content: "\f058";
        }

        &__actions {
            display: block;
            float: right;

            font-size: 16px;

            opacity: 0;
        }
    }
}